.roles-header{

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:40px;

}

.roles-header-left{

    display:flex;

    align-items:center;

    gap:10px

}

.roles-icon{

    width:40px ;

    height:40px ;

    border-radius:10px;

    display:flex;

    justify-content:center;

    align-items:center;

    color:var(--primary);

    font-size:26px;

}

.roles-header h1{

    font-size:20px;

    font-weight:300;

    margin:0;

}

.roles-header p{

    margin-top:8px;

    color:#7d8b88;

    font-size:14px

}