.section-title td{

    background:#F1F5F9;

    color:#166534;

    font-weight:700;

    font-size:15px;

    padding:18px 22px;

    border-top:1px solid #E5E7EB;

    border-bottom:1px solid #E5E7EB;

}