.login-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:30px;

    background:linear-gradient(
        135deg,
        #eef7f2,
        #ffffff
    );

}


.login-card{

    width:470px;

    max-width:100%;

    background:var(--white);

    border-radius:22px;

    overflow:hidden;

    box-shadow:var(--shadow);

}

.top-bar{

    height:4px;

    background:var(--primary);

}


.logo-container{

    display:flex;

    justify-content:center;

    margin-top:28px;

}

.logo{

    width:90px;

}

.login-title{

    margin-top:20px;

    text-align:center;

    font-size:22px;
    font-weight:250;

}

.login-subtitle{

    text-align:center;

    margin-top:10px;

    color:var(--text-light);

    margin-bottom:35px;

    font-size:14.5px;

}


.login-form{

    padding:0 40px 40px;

}

.login-options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:20px;

}

.login-options a{

    color:var(--primary);

    font-weight:500;

    font-size:14px;

}
.login-options a:hover{

    text-decoration:underline;

}
.remember-me{

    display:flex;

    align-items:center;

    gap:8px;

    font-size:15px;

    

}

.bottom-bar{
    height:35px;
    background:#f8f8f8;
    text-align:center;
    line-height:35px;
    font-size:10px;
}
.error-box {

    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;
    gap: 12px;

    background-color: #fff1f1;

    border: 1px solid #ffb8b8;

    color: #d93025;

    padding: 14px;

    border-radius: 10px;

    margin-bottom: 20px;

    font-size: 14px;

    line-height: 20px;
}


.error-icon {

    width: 18px;
    height: 18px;

    flex-shrink: 0;

    border: 1px solid #d93025;

    border-radius: 50%;

    display: flex;

    align-items: center;

    justify-content: center;

    font-weight: bold;

}