.login-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:linear-gradient(135deg,#eef5f1,#f8faf9);

}

.login-card{

    width:480px;

    background:white;

    border-radius:24px;

    box-shadow:var(--shadow);

    padding:50px;

}

.logo-container{

    display:flex;

    justify-content:center;

    margin-bottom:25px;

}

.logo{

    width:90px;

}

.login-card h3{

    text-align:center;

    margin-bottom:10px;

    font-size:20px;

}

.subtitle{

    text-align:center;

    color:var(--text-light);

    margin-bottom:35px;

}

.login-options{

    display:flex;

    justify-content:space-between;

    align-items:center;

    margin-bottom:25px;

    font-size:14px;

}

.login-options a{

    color:var(--primary);

    font-weight:600;

}

.remember{

    display:flex;

    gap:8px;

    align-items:center;

}